<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>964866872592-oicvsufdhdf2q0t6pu0ps6p3d6pabcoe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.964866872592-oicvsufdhdf2q0t6pu0ps6p3d6pabcoe</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>964866872592-2rv952377e3itkg44vjh9juk2d76h2ft.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDoWP4j9dv0XYPe_TPb89uv16HfUWZvSAI</string>
	<key>GCM_SENDER_ID</key>
	<string>964866872592</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dMans</string>
	<key>PROJECT_ID</key>
	<string>dmans-bb7c8</string>
	<key>STORAGE_BUCKET</key>
	<string>dmans-bb7c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:964866872592:ios:dca5573fbb3dd68b670195</string>
</dict>
</plist>